<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>patientservlet</servlet-name>
        <servlet-class>patientservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorservlet</servlet-name>
        <servlet-class>doctorservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientloginservlet</servlet-name>
        <servlet-class>patientloginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorloginservlet</servlet-name>
        <servlet-class>doctorloginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientappointmentservlet</servlet-name>
        <servlet-class>patientappointmentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ratingservlet</servlet-name>
        <servlet-class>ratingservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewservlet</servlet-name>
        <servlet-class>reviewservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpasswordservlet</servlet-name>
        <servlet-class>forgotpasswordservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpasswordservletpat</servlet-name>
        <servlet-class>forgotpasswordservletpat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchdisplaydocdetails</servlet-name>
        <servlet-class>searchdisplaydocdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>docappointdisplay</servlet-name>
        <servlet-class>docappointdisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmservlet</servlet-name>
        <servlet-class>confirmservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelservlet</servlet-name>
        <servlet-class>cancelservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patstatusdisplay</servlet-name>
        <servlet-class>patstatusdisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newsearchdisplaydocdetails</servlet-name>
        <servlet-class>Newsearchdisplaydocdetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>patientservlet</servlet-name>
        <url-pattern>/patientservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorservlet</servlet-name>
        <url-pattern>/doctorservlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>mainpage.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>patientloginservlet</servlet-name>
        <url-pattern>/patientloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorloginservlet</servlet-name>
        <url-pattern>/doctorloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientappointmentservlet</servlet-name>
        <url-pattern>/patientappointmentservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ratingservlet</servlet-name>
        <url-pattern>/ratingservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewservlet</servlet-name>
        <url-pattern>/reviewservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpasswordservlet</servlet-name>
        <url-pattern>/forgotpasswordservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpasswordservletpat</servlet-name>
        <url-pattern>/forgotpasswordservletpat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchdisplaydocdetails</servlet-name>
        <url-pattern>/searchdisplaydocdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>docappointdisplay</servlet-name>
        <url-pattern>/docappointdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmservlet</servlet-name>
        <url-pattern>/confirmservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelservlet</servlet-name>
        <url-pattern>/cancelservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patstatusdisplay</servlet-name>
        <url-pattern>/patstatusdisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newsearchdisplaydocdetails</servlet-name>
        <url-pattern>/Newsearchdisplaydocdetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
